<nav class="navbar is-transparent navbar-sticky">
  <div class="navbar-brand">
    <a class="navbar-item" (click)="goHome()">
      <span class="icon is-large is-left"><i class="fas fa-2x fa-solid fa-cat"></i></span>
    </a>
    <div class="navbar-burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" (click)="goHome()">
        Home
      </a>
    </div>
  </div>
</nav>
