<app-navbar></app-navbar>
<div class="profile">

    <div class="logo"></div>
  
    <div class="card profile-container">
  
      <div class="title is-4">Edit Profile</div>
  
      <form class="is-flex is-flex-direction-column">
  
        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input class="input" type="text" value="Alex Miron">
          </div>
        </div>
  
        <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input class="input" type="email" value="alex@mail.com">
          </div>
        </div>
  
        <div class="field">
          <label class="label">Address</label>
          <div class="control">
            <textarea class="textarea" value="Strada Fabricii, nr 32"></textarea>
          </div>
        </div>
        <div class="field is-grouped">
            <div class="control file">
              <label class="file-label">
                <input class="file-input" type="file" name="file" accept=".png, .jpg">
                <span class="file-cta">
                    <span class="file-icon">
                      <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                      Update Image...
                    </span>
                  </span>
              </label>
            </div>
        </div>
        <button class="button is-primary">Update</button>
  
      </form>
  
    </div>
  
  </div>
  
