<div class="page-container">
  <div class="page-content">

    <div class="posts-component">

      <div class="card" >
        <div class="card-image">
          <figure class="image">
            <img src="{{post.imageUrl}}" alt="Placeholder image">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">{{post.name}}</p>
            </div>
          </div>

          <div class="content">
            {{post.description}}
            <br>
            <div class="field" name="items">
              <label class="label">Ingredients:</label>
              <div class="ingredients" *ngFor="let items of post.items">
                  <div class="ingredient">
                      <div class="control has-icons-left">
                          <input readonly class="input" type="text" name="name" value="{{items.name}}">
                          <span class="icon is-small is-left"><i class="fa-solid fa-receipt"></i></span>
                      </div>
                  </div>
                  <div class="ingredient">
                      <div class="control has-icons-left">
                          <input readonly class="input" type="text" name="quantity" value="{{items.quantity}}">
                          <span class="icon is-small is-left"><i class="fa-solid fa-align-justify"></i></span>
                      </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label class="label">Tags:</label>
            <div *ngIf="post.tags !== undefined">
              {{post.tags.join(', ')}}
            </div>
          </div>
          <div class="buttons">
            <button class="button is-danger is-outlined" (click)="deletePost()">Delete Post</button>
            <button class="button is-info is-outlined" (click)="translatePost(post)">Translate</button>
          </div>
          
        </div>
      </div>

    </div>

  </div>
</div>
