html {
    font-family: 'Rubik', sans-serif;
    user-select: none;
}

a {
    text-decoration: none;
    color: #151515;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.error {
    color: #d94545;
    font-weight: bold;
    font-size: 0.75rem;
}
.user-selectable {
    user-select: text;
}

.list {
    display: flex;
    flex-direction: row;
    gap: 32px;
    flex-wrap: wrap;
}

.list > .item {
    width: 240px;
    background-color: #e7e7e7;
    border-radius: 8px;
    overflow: hidden;
    padding: 16px;
}

.list-auto {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding:32px;
}

.list-auto > .item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #e7e7e7;
    border-radius: 8px;
    padding: 16px;
}

.overflow {
    height: 512px;
    overflow: auto;
}

.img {
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 16px;
}