<div class="navbar-container">
  <div class="navbar-items">

    <div class="logo"></div>

    <div class="control has-icons-left has-icons-right">
      <input class="input" type="email" placeholder="Email">
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check"></i>
      </span>
    </div>

    <div class="is-flex-grow-1"></div>

    <div class="title is-6">username</div>

  </div>
</div>
