<div class="navbar-container">
  <div class="navbar-items">

    <div class="logo"></div>

    <div class="is-flex" style="gap: 16px">
      <div class="control has-icons-left has-icons-right" style="position: relative">
        <input class="input" type="text" placeholder="Search" #searchInput>
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>

        <div class="search-box" *ngIf="searchBoxOpen">
          <div class="searched-food-item" *ngFor="let item of searchedFood">
            <img class="searched-food-image" src="{{item.photoUrl}}" alt="">
            <div>{{item.name}}</div>

            <div class="is-flex-grow-1"></div>

            <div>{{item.price}}lei</div>
          </div>
        </div>

      </div>

      <button class="button" (click)="onSearch(searchInput)">Search</button>
      <button class="button" (click)="onSearchClose()" *ngIf="searchBoxOpen">Close</button>
    </div>




    <div class="is-flex-grow-1"></div>

    <div *ngIf="logged && userType === 1">{{'300'}}C</div>
    <a routerLink="/user-profile" class="title is-6" *ngIf="logged && userType === 1">{{user.name}}</a>
    <a routerLink="/restaurant-profile" class="title is-6" *ngIf="logged && userType === 2">{{user.name}}</a>
    <button type="button" routerLink="/login" class="button is-primary" *ngIf="!logged">Login</button>

  </div>
</div>
