.navbar-container {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  background-color: white;
  border-bottom: #dedede solid 1px;
}

.navbar-items {
  width: min(100%, 1720px);
  display: flex;
  align-items: center;
  padding: 12px;
  gap: 32px;

  .logo {
    width: 48px;
    aspect-ratio: 1 / 1;
    background-color: antiquewhite;
    border-radius: 4px;
  }

}
