<div class="login-layout">

  <div class="logo"></div>

  <div class="card login-container">

    <div class="title is-4">Login</div>

    <form class="is-flex is-flex-direction-column">

      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input class="input" type="text" placeholder="Alex">
        </div>
      </div>

      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input class="input" type="text" placeholder="user@mail.com">
        </div>
      </div>

      <button class="button is-primary">Login</button>

    </form>

    <div class="title is-6">New user? Signup.</div>

  </div>

</div>
