.page-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.navbar-sticky {
  position: sticky !important;
  top: 0;
}

.page-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  width: min(740px, 100%);
}

.posts-component {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
