<app-navbar></app-navbar>

<div class="page-container">
  <div class="page-content pt-4 is-align-items-flex-start" style="width: min(100%, 512px)">

    <div class="title">Cart</div>

    <div class="food-item-container" *ngFor="let item of foodItems">
      <div class="food-item">
        <div class="food-item-info">
          <div class="title is-4"><b>{{item.name}}</b></div>
          <div class="">{{item.details}}</div>
          <div class="title is-6">{{item.price}}lei</div>
        </div>

        <img class="food-photo" src="{{item.photoUrl}}" alt="">

        <button class="button" (click)="onRemoveItem(item)">Delete</button>
      </div>
    </div>

    <div>Total price: {{totalPrice}}lei</div>

    <div class="buttons">
      <button type="button" class="button is-info" [disabled]="this.totalPrice > this.fetchedUser.money" (click)="onPlaceOrder()">Pay with app's currency</button>
      <button type="button" class="button is-info" disabled>Pay with card</button>
    </div>

  </div>
</div>
