<app-navbar></app-navbar>
<div class="restaurant-container">
    <div class="restaurant-items">

      <div class="restaurant-cover">
        <div class="restaurant-profile"></div>
      </div>

      <div class="restaurant-info"></div>

      <div class="title">Your Dishes:</div>
      <button class="add-button">Add dish</button>
      <div class="food-items-container">

        <div class="food-item-container" *ngFor="let i of [1, 2, 3, 4, 5]">
          <div class="food-item">
            <div class="food-item-info">
              <div class="title is-4"><b>Title</b></div>
              <div class="">Info</div>
              <div class="title is-6">36lei</div>
              <button class="edit">Edit dish</button>
            </div>

            <div class="food-photo"></div>
          </div>
        </div>


      </div>

    </div>
  </div>
