.restaurant-container {
    display: flex;
    justify-content: center;
  }
  
  .restaurant-items {
    width: min(100%, 1440px);
    display: flex;
    gap: 32px;
    flex-direction: column;
    padding: 0 32px 32px 32px;
  }
  
  .restaurant-info {
    padding: 32px;
    background-color: white;
    border-radius: 12px;
  }
  
  .food-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
  }
  
  .food-item-container {
    display: flex;
    justify-content: center;
    width: min(100%, 360px);
    flex-grow: 1;
  }
  
  .food-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: min(100%, 360px);
    padding: 16px;
    background-color: white;
    border-radius: 8px;
  }
  
  .food-item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .food-photo {
    justify-self: end;
    width: min(100%, 150px);
    aspect-ratio: 1 / 1;
    background-color: antiquewhite;
    border-radius: 12px;
  }

  .place-order{
      width: 30%;
  }
