<div class="signup-layout">

  <div class="logo"></div>

  <div class="card signup-container">

    <div class="title is-4">Signup</div>

    <form class="is-flex is-flex-direction-column">

      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input class="input" type="text" placeholder="user@mail.com">
        </div>
      </div>

      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input class="input" type="email" placeholder="user@mail.com">
        </div>
      </div>

      <div class="field">
        <label class="label">Address</label>
        <div class="control">
          <textarea class="textarea"></textarea>
        </div>
      </div>

      <button class="button is-primary">Signup</button>

    </form>

    <div class="title is-6">Already have an account? Login.</div>

  </div>

</div>
