<app-navbar></app-navbar>

<div class="page-container">
  <div class="page-content">

    <div class="restaurant-photo-container">
      <img class="restaurant-cover" src="{{restaurantData.coverPhotoUrl}}" alt="">
      <img class="restaurant-profile" src="{{restaurantData.profilePhotoUrl}}" alt="">
    </div>


<!--    <div class="restaurant-info"></div>-->

    <div class="title">Comenzi</div>

    <div class="food-items-container">

      <div class="food-item-container" *ngFor="let item of restaurantFood">
        <div class="food-item">
          <div class="food-item-info">
            <div class="title is-4"><b>{{item.name}}</b></div>
            <div class="">{{item.details}}</div>
            <div class="title is-6">{{item.price}}lei</div>
          </div>

          <img class="food-photo" src="{{item.photoUrl}}" alt="">
        </div>
      </div>

    </div>

  </div>
</div>
