<app-navbar></app-navbar>

<div class="page-container">
  <div class="page-content">

    <div class="restaurant-cover">
      <div class="restaurant-profile"></div>
    </div>

    <div class="restaurant-info"></div>

    <div class="title">Comenzi</div>

    <div class="food-items-container">

      <div class="food-item-container" *ngFor="let i of [1, 2, 3, 4, 5]">
        <div class="food-item">
          <div class="food-item-info">
            <div class="title is-4"><b>Title</b></div>
            <div class="">Info</div>
            <div class="title is-6">36lei</div>
          </div>

          <div class="food-photo"></div>
        </div>
      </div>

    </div>

  </div>
</div>
