<div class="page-container">
    <div class="page-content">
  
        <form class="box" enctype="multipart/form-data" (submit)="onFormSubmit($event, form)" #form>

            <div class="field">
            <label class="label">Name</label>
            <div class="control has-icons-left">
                <input class="input" type="text" name="name" placeholder="The name of the post">
                <span class="icon is-small is-left"><i class="fa-solid fa-file-signature"></i></span>
            </div>
            </div>

            <div class="field">
                <label class="label">Description</label>
                <div class="control">
                <textarea class="textarea" name="description"></textarea>
                </div>
            </div>

            <div class="field" name="items">
                <label class="label">Ingredients</label>
                <div class="ingredients" *ngFor="let item of arrayOfingredients">
                    <div class="ingredient">
                        <div class="control has-icons-left">
                            <input class="input" type="text" [(ngModel)]="item.name" value="{{item.name}}" placeholder="Name">
                            <span class="icon is-small is-left"><i class="fa-solid fa-receipt"></i></span>
                        </div>
                    </div>
                    <div class="ingredient">
                        <div class="control has-icons-left">
                            <input class="input" type="text" [(ngModel)]="item.quantity" value="{{item.quantity}}" placeholder="Quantity">
                            <span class="icon is-small is-left"><i class="fa-solid fa-align-justify"></i></span>
                        </div>
                    </div>
                </div>
                <input type="button" class="button is-link" (click)="onAddIngredients()" value="Add Ingredients">
            </div>


            <div class="field is-grouped">
            <div class="control file">
                <label class="file-label">
                <input class="file-input" type="file" name="image" accept=".png, .jpg">
                <span class="file-cta">
                    <span class="file-icon">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                        Upload image...
                    </span>
                    </span>
                </label>
            </div>
            <div class="control">
                <button class="button is-link">Submit</button>
            </div>
            </div>

        </form>

    </div>
</div>
