<app-navbar></app-navbar>


<div class="restaurant-container">
    <div class="restaurant-items">
  
      <div class="restaurant-cover">
        <img class="food-container" src="{{item.photoUrl}}" alt="">
      </div>
  
      <div class="title information">{{item.restaurant.name}}: {{item.name}}</div>

      <div class = "subtitle">
        <div>Ingredients: {{item.details}}</div>
      </div>
      <div class="title">Price: {{item.price}} lei </div>
      <div>
        <div class="title">Price Evolution:</div>
        <canvas id="myChart" width="100" height="100"></canvas>
      </div>
      <div class="add">
        <button type="button" [disabled]="setDisabled" id="add-button" class="btn-basket btn btn-success" (click)="addToBasket(item)">Add to basket</button> 
      </div>
    </div>
  </div>
  