.page-container {
  display: flex;
  justify-content: center;
}

.restaurant-container{
	padding-left: 30%;
}

.page-content {
  width: min(100%, 1440px);
  display: flex;
  gap: 32px;
  flex-direction: column;
  padding: 0 32px 32px 32px;
}

.restaurant-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  aspect-ratio: 16 / 6;
  border-radius: 0 0 32px 32px;
}

.food-container{
	border-radius: 32px 32px 32px 32px;
	width: 50%;
}

@import url('https://fonts.googleapis.com/css?family=Satisfy|Zilla+Slab');

$blue: #547496;
$main-color: antiquewhite;

.title, .frame{
  padding: 0 0 0 0 !important;
}

#myChart{
	display: block;
	width: 70% !important;
	height: 20% !important;
}

.information{
	padding-top: 4% !important;
}

.add{
	padding: 5% 0 5% 0;
}

.btn-basket{
	width: 300px;
}
